* {
    border: none;
    border-radius: 0;
    font-family: "Arimo Nerd Font";
	font-weight: bold;
}

window#waybar {
    background-color: rgba(12, 12, 12, 0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
  padding: 0 15px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0px;
    background-color: transparent;
    color: #999999;
}

#workspaces button.focused {
  	color: #ffffff;
    background-color: #3A3A3A;
    border-bottom: 3px solid #4A90D9;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#custom-vpn,
#custom-battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 5px;
    margin: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#mode {
  background-color: #00ff96;
  color: #000000;
}

#pulseaudio,
#clock,
#tray,
#cpu {
  border-bottom: transparent;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
  border-bottom: 2px solid #dd2241;
}

#pulseaudio.muted {
  border-bottom: 2px solid #fff569;
}
