* {
    font-size: 12px;
    font-family: Arimo Regular;
}

window#waybar {
    background: transparent;
    color: #fdf6e3;
}
#clock {
    color: #1E1F23;
    background: #DCDCCC;
    padding: 0 16px;
    border-radius: 26px;
}
#workspaces {
    margin-left: 3px;
    border-radius: 26px;
    background: #1B2224;
}
#workspaces button {
    padding: 0 5px;
    color: #2EB398;
}
#workspaces button.focused {
    color:  #ff9b36;
}
#pulseaudio {
    background: #9aedfe;
}
#backlight {
    background: #b58900
}
#memory {
    background: #ff6e67;
}
#temperature {
    background: #5af78e;
}
#cpu {
    background: #f1fa8c;
}
#battery {
    background: white;
}
#battery.charging {
    background: green;
}
#network {
    background: #d3b4ff;
}
#pulseaudio, #backlight, #memory, #cpu, #temperature, #battery, #network, #tray {
    color: #1E1F23;
    border-radius: 26px;
    margin: 0 4px;
    padding: 0 16px;
}

